.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px 40px 0;
  background: #FFFFFF;
  align-items: center;
}

.navigation__items {
  display: flex;
  justify-content: space-between;
}

.navigation__item{
  font-size: 18px;
  line-height: 28px;
  color: #1390E5;
  margin-right: 40px;
}

.navigation__active{
  padding-bottom:23px;
  border-bottom: 2px solid #1390E5;
}