.video__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.video__item {
  max-width: 290px;
  margin-bottom: 28px;
  margin-right: 20px;
}

.video__container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.video__container--column {
  flex-direction: column;
}

.video__container--row {
  flex-direction: row;
}

.video__container-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
